*
!*/
!.gitignore
!.gitmodules

!nvim
!hyprland
!tmux
!quickshell
!wofi

!nvim/*
!hyprland/*
!tmux/*
!quickshell/*
!wofi/*

!nvim/**
!hyprland/**
!tmux/**
!quickshell/**
!wofi/**

!fish/functions/fish_prompt.fish
!fish/functions/fish_greeting.fish
!fish/functions/fish_right_prompt.fish
!fish/functions/tmx.fish
!ghostty/config
